<h1>Acme Corp</h1>
<h3>one of the receivers of documents</h3>

<p>When one of the documents that Acme Corp is subscribed to is updated on the central repository, then it will be automatically updated here too</p>