<section class="section">
  <div class="container">
    <h1 class="title">New Document</h1>

    <%= render "form", document: @document %>

    <br>

    <div class="buttons">
      <%= link_to "Back to documents", documents_path, class: "button is-primary" %>
    </div>
  </div>
</section>